/*todo start variables */
:root {
  --primary_color: #9dda3a;
  --secondary_white: #ffffff;
  --secondary_color: rgb(30, 30, 30);
  --black75: rgba(30, 30, 30, 75%);
  --black50: rgba(30, 30, 30, 50%);
  --black25: rgba(30, 30, 30, 25%);
  --black10: rgba(30, 30, 30, 10%);
  --main-trans: 0.3s;
}
/*todo end variables */

/*todo start global rules{  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*todo end global rules  */

/* todo start components  */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin-bottom: 60px;
  color: var(--secondary_color);
  display: inline-block;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: calc(80%);
  height: 2px;
  background-color: var(--secondary_color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary_color);
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  bottom: -30px;
  background-color: white;
}
.main-heading h2 + p {
  color: var(--black75);
  max-width: 500px;
  display: block;
  margin: 0 auto 20px;
}
/* todo end components  */

/* ? start header  */
header {
  width: 100%;
  z-index: 2;
  background-color: var(--secondary_color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  color: white;
  padding: 24px 10px;
  font-size: 21px;
  transition: var(--main-trans);
}
header li {
  display: inline;
}
header ul a.active,
header ul a:hover {
  color: var(--primary_color);
}
header img {
  height: 72px;
}
/* ? end header  */
/* ? start hero section  */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero h1 {
  color: var(--secondary_color);
  font-size: 36px;
  margin: 0;
}
.hero h1 span {
  color: var(--primary_color);
}
.hero p {
  color: var(--secondary_color);
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
}
.hero .lhedda {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  margin-bottom: -5px;
  margin-left: 3px;
}
.hero img {
  width: 430px;
}
.hero .callAction {
  font-size: 10px;
  font-weight: bold;
  margin-top: 0;
  color: var(--secondary_color);
}
.hero .button {
  width: fit-content;
  height: fit-content;
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 8px 16px;
  border-radius: 36px;
  color: white;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  scale: 1.5;
}
.hero .button i {
  color: white;
}
/* ? end hero section  */
/* ? start about section  */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}
.about .container p {
  color: var(--secondary_color);
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
  text-align: center;
}
.about img {
  width: 509px;
}
/* ? end about section  */

/* ?start propostions section  */
.propositions {
  height: 100vh;
  padding-top: 45px;
}
.horizontal-scroll-section {
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-container {
  display: inline-flex;
  padding: 15px;
}

.scroll-container img {
  border-radius: 38px;
  margin-right: 60px;
  width: 300px;
  height: 225px;
  object-fit: cover;
}
/* ?end propostions section  */

/* ?start footer section */
footer {
  background-color: var(--secondary_color);
  height: fit-content;
  padding: 20px 0;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer_col {
  padding: 0 15px;
}
.footer_col h4 {
  font-size: 18px;
  color: var(--secondary_white);
  margin-bottom: 15px;
  text-transform: capitalize;
  /* !position: relative; */
}
.footer_col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--secondary_white);
  transition: var(--main-trans);
  display: block;
  margin: 8px 0;
}
.footer_col ul li .active,
.footer_col ul li a:hover {
  color: var(--primary_color);
  padding-left: 5px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2px 0;
  font-size: 24px;
}
.social a {
  height: fit-content;
  width: fit-content;
  color: var(--secondary_white);
  transition: var(--main-trans);
}
.social a:hover {
  color: var(--primary_color);
}
/* ?end footer section */

/* ?start filter_search */
/* todo start filter  */
.filter_search .filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px auto;
}
.filter_search .filter a,
.max_price {
  color: var(--secondary_color);
  background-color: transparent;
  font-size: 21px;
  padding: 8px 24px;
  border: 1px solid var(--secondary_color);
  border-radius: 24px;
}
.filter_search .filter .max_price:focus {
  outline-color: var(--primary_color);
}
.filter_search .filter a.active,
.filter_search .filter a:hover {
  color: var(--primary_color);
  border-color: var(--primary_color);
}
/* todo end filter  */

/* todo start search bar  */
.filter_search .search_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--secondary_color);
  border-radius: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
}
.filter_search .search_bar .search {
  flex: 1;
  background-color: transparent;
  border: none;
}
.filter_search .search_bar .search:focus {
  outline: none;
}
.filter_search .search_bar i {
  cursor: pointer;
  scale: 1.3;
}
/* todo end search bar  */
/* ?end filter_search */

/* ?start products list*/
.products_list .container {
  display: flex;
  margin-top: 48px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.products_list .item {
  width: calc((100% / 3) - 20px);
  background-color: var(--secondary_color);
  border-radius: 25px;
  margin-bottom: 25px;
}
.products_list .image img,
.products_list .image {
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.products_list .item .infos {
  height: fit-content;
  border-radius: 0 0 25px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8px;
}
.products_list .item .infos .price {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.products_list .item .infos i {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.products_list .item .infos .button {
  height: fit-content;
  width: fit-content;
  background-color: var(--primary_color);
  border-radius: 25px;
}
.products_list .item .infos a {
  font-size: 16px;
  color: white;
  padding: 12px 14px;
}
/* ?end products list*/

/* ?start single product */

.single_product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.single_product .container {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: .6fr;
  margin-bottom: 20px;
}
.single_product .img_section {
  width: 30%;
  height: fit-content;
}
.single_product .img_section img {
  width: 100%;
}
.single_product .info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* !position: relative; */
  width: 45%;
}
.single_product .info_section ul li:first-child {
  color: var(--primary_color);
  font-weight: bold;
  font-size: 18px;
}
.single_product .info_section ul li:last-child {
  color: var(--secondary_color);
  font-weight: normal;
  font-size: 18px;
}
.single_product .info_section ul li:last-child span {
  color: var(--black50);
  font-weight: bold;
  font-size: 18px;
}
.single_product .info_section p:first-child {
  font-size: 18px;
  color: var(--secondary_color);
}
.single_product .info_section .colors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.single_product .info_section .colors div {
  width: calc((100% / 3) - 20%);
  height: 30px;
  opacity: 0.6;
  border-radius: 8px;
}
.single_product .info_section .colors div:hover {
  opacity: 1;
  cursor: pointer;
}
.single_product .info_section .sizes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  color: var(--secondary_color);
  font-weight: bold;
  font-size: 18px;
}
.single_product .info_section .sizes div {
  background-color: var(--black25);
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_product .info_section .to_add {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.single_product .info_section .to_add .heart {
  font-size: 30px;
  color: var(--primary_color);
}

.single_product .callAction {
  font-size: 10px;
  font-weight: bold;
  margin-top: 0;
  color: var(--secondary_color);
}
.single_product .button {
  width: fit-content;
  height: fit-content;
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 36px;
  color: white;
  /* !position: absolute; */
  scale: 1.5;
}
.single_product .button i {
  color: white;
}
.single_product .my_separator {
  margin: 20px auto;
  background-color: var(--black50);
  width: 80%;
  height: 2px;
}
.single_product .propositions {
  height: fit-content;
}
/* ?end single product */
